@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#top-bar{ 
    display: flex;
    align-items: center;
    height:80px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
     z-index: 10;  
    position: fixed;
    top: 0;
    left: 0;
    
}
#siteName a{
    text-decoration: none;
    color: black;
    margin-left: 90px;
}
#leftsec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}
#shop{
    font-size: 36px;
    font-weight: 900;
    font-family: sans-serif;
}
#lane{
    font-size: 36px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: 1px;
}
#searchwrapper{
    display: flex;
    margin-left: 30px;
    width:25%;
    position:relative;
    margin-right: 150px;
}
#searchwrapper button{
    border:none;
    position: absolute; 
    left:13px;
    top:10px
}
#searchwrapper > i {
    color: #999;
    font-size: 18px ;
    transform: translateY(-50%); 
    display:flex;
    align-items: center;

}
#searchbox {
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
    height:37px
}
#rightSec{
    display: flex;
    width:10%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    margin-left: 30px;
}
#cart{
color:black;
font-size: 18px;
}
#miniCart{
    position:absolute;
    top:16px;
    right:173px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    
}
.slick-slide {
    width: 100%;
    margin: 5px;
    overflow: hidden;
}

.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #aaa;
}
.slider{
    overflow: hidden;
}
#carousal{
    margin-top: 100px;
    overflow: hidden;
    padding: 0px 100px;
    box-sizing: border-box;

}
.card{
    width: 200px;
    margin: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.842);
}
img{
    width: 100%;
}
#clothing,#Accessories{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.head{
    margin-left: 50px;
    font-family: "Montserrat", sans-serif;
}
.text_section{
    padding-left: 10px;
    margin: 10px auto;
    /* font-family: "Montserrat", sans-serif; */
}
#heading{
    font-size: 16px;
    margin: 0px;
    font-weight: 300;
    /* letter-spacing: 0.5px; */
    color: #000;
    font-family: "Montserrat", sans-serif;
}
#brand{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(110, 110, 110);
    font-family: "Montserrat", sans-serif;
}
#price{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #009688;
    font-family: "Montserrat", sans-serif;
}

#edyoda-logo{
    width: 128px;
    height:60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    }

#footer{
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 4% 8%;
}
#footer p{
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
color: white;
opacity: 0.9;
letter-spacing: 1px;
display: block;
margin-bottom: 30px;
}
#footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    font-size: 14px;
    opacity: 0.8;  
    line-height: 1px;
}


@media screen and (max-width:480px) {
  
#edyoda-logo{
    width: 60px;
    height:30px;
        }

#footer{
    display: flex;
    flex-direction: column;
}
#footer p{

font-size: 14px;

}
#footer a{
   
    font-size: 12px;
    
}
#sec_container h2{
margin-left: 10px;
font-size: 16px;
}
#carousal{
    margin-top: 70px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;

}
.slick-slide {
    width: 100%;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    height:100px;
}
#item_container {
    padding-top: 0px;
}
#top-bar{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    height:80px;
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
     z-index: 10;  
    position: fixed;
    top: 0;
    left: 0;
    
}
#siteName a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
#leftsec{
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    width:50%;
}
#shop{
    font-size: 24px;
   
}
#lane{
    font-size: 24px;
}
nav a{
   
    display: none;
}
#searchwrapper{
    
    display: none;
}


#rightSec{
    display: flex;
    width:40%;
    justify-content: flex-end;
    
}
#userImg{
    width: 40px;
    height: 40px;
   
}
#cart{
color:black;
font-size: 18px;
}
#miniCart{
    position:absolute;
    top:16px;
    right:80px;
       
}
   }

@media only screen and (max-width:480px){
.card{
    width: 40%;
    margin: 10px;
}
#clothing,#Accessories{
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 50px;
    
}
.head{
    margin: 0px 10px 0px 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#heading{
    font-size: 15px;
}
#brand{
    font-size: 12px;
}
#price{
    font-size: 12px;
}


}